@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
  padding: 0px; 
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
  list-style: none;
  color: unset;
}

body{
    background-color: bisque;
}

html{
    scroll-behavior: smooth;
}

/* --------------todo-container------------------ */

.all-container{
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    flex-direction: column;
	/* flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center; */
}

.container{
    margin-top: 40px;
}

.container h1{
    margin-bottom: -20px;
}

/* ---------------input-container------------------- */

.input-container{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-radius: 10px;
}

.inputbox{
    font-size: 1.3rem;
    margin-left: 15px;
    border-style: none;
    outline: none;
    width: 380px;
}

.add-button{
    /* border-radius: 10px; */
    /* border-style: none; */
    outline: none;
}

/* -----------------list-container-------------- */

.list-navbar{
    display: flex;
    width: 450px;
    justify-content: space-between;
    padding: 8px;
    border-radius: 10px;
    background-color: cyan;
}

.apc-container{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.item-container{
    margin-left: 8px;
}

.clear{
    margin-right: 8px;
}